<div class="container">
           
        <div class="form-group">
            <label for="dropdown">{{title}}</label>
            <!-- <select 
                    class="form-control"
                    (ngModelChange)="onChange($event)" [(ngModel)]="onChange"
                    [value]="list[0]">
                <option disabled>Select {{title}}</option>
                <option [value]="item" *ngFor="let item of list">{{item.name}}</option>
            </select> -->
            <select class="" (ngModelChange)="onChange($event)" [(ngModel)]="selectedValue">
                <option disabled selected>Select a {{title}}</option>
                <option
                  *ngFor="let item of list"
                  [ngValue]="item"
                >
                {{item.name}}
                </option>
              </select>
            
           
        </div>
       
</div>

